@media(max-width: 1360px){
    .header,
    .main,
    .card,
    .stats,
    .support,
    .price,
    .questions,
    .footer{
        padding: 0;
        margin: 100px auto;
    }
    .header{
        top: 20px;
        margin: auto;
    }
    .nav_text{
        width: auto;
    }
    .main{
        /* padding:  0 50px; */
        margin: auto;
    }
    .main_container {
        height: auto;
        justify-content: start;
        padding-left: 80px;
        width: auto;
        background-size: 1300px;
    }
    .main_container_left{
        padding-top: 100px;
        width: calc(100% - 80px);
        height: 600px;
        margin-top: 0;
    }
    .support{
        padding: 0 50px;
        gap: 0;
    
    }
    .main_img{
        display: none;
    }
    .price{
        padding: 0 20px;
    }
    .support, .card, .stats, .blocks{
        flex-direction: column;
        width: 425px;
    }
    .blocks{
        width: 430px;
    }
    .questions{
        padding: 0 20px;
    }
    .quest_subtitle{
        width: 100%;
    }
    .profile_title{
        width: 100%;
    }
    .profile1_title{
        width: 100%;
    }
    .quest_btn{
        width: 100%;
        background-position-x: 95%;
    }
    .footer{
        padding: 90px 20px 90px 20px;
        height: auto;
        margin: auto;
        gap: 20px;
    }
    .footer_links{
        gap: 50px;
        justify-content: space-between;
    }
}